<!DOCTYPE html>
<html>
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Models</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   </head>
   <body>
      <div class="header_section">
         <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
               <a class="navbar-brand"href="index.html"><img src="images/logo.png"></a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto">
                      <li class="nav-item active">
<a class="nav-link" href="/">Home</a>
                     </li>
                     <li class="nav-item">
<a class="nav-link" href="/about">About</a>
                     </li>
                     <li class="nav-item">
<a class="nav-link" href="/models">Models</a>
                     </li>
                     <li class="nav-item">
<a class="nav-link" href="/agency">Agencies</a>
                     </li>
                     <li class="nav-item">
<a class="nav-link" href="/contact">Contact Us</a>
                     </li>
                     <li class="nav-item">
  <a class="nav-link" href="/login">LOGIN</a>
</li>
                  </ul>
                  
               </div>
            </nav>
         </div>
      </div>
      <!-- header section end -->
      <!-- models section start -->
      <div class="models_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="models_taital">Fashion Models</h1>
                  <p class="models_text">Various versions have evolved over the years, sometimes by accident,</p>
               </div>
            </div>
            <div id="my_slider" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="models_section_2">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="hover01 column">
                                 <figure><img src="images/MYRIEM-BOUKADIDA.jpg"></figure>
                              </div>
                              <h3 class="introduction_text">Tunisia</h3>
                              <p class="lorem_text">Mariem Boukadida</p>
                           </div>
                           <div class="col-md-6">
                              <div class="hover01 column">
                                 <figure><img src="images/consani.jpg"></figure>
                              </div>
                              <h3 class="introduction_text">America</h3>
                              <p class="lorem_text">Alex consani</p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="models_section_2">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="hover01 column">
                                 <figure><img src="images/img-1.png"></figure>
                              </div>
                              <h3 class="introduction_text">Germany</h3>
                              <p class="lorem_text">Amelia Heart</p>
                           </div>
                           <div class="col-md-6">
                              <div class="hover01 column">
                                 <figure><img src="images/manisha.jpg"></figure>
                              </div>
                              <h3 class="introduction_text">Portugal</h3>
                              <p class="lorem_text">manisha van prague</p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="models_section_2">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="hover01 column">
                                 <figure><img src="images/prague.jpg"></figure>
                              </div>
                              <h3 class="introduction_text">Spain</h3>
                              <p class="lorem_text">Penolepe Cruz</p>
                           </div>
                           <div class="col-md-6">
                              <div class="hover01 column">
                                 <figure><img src="images/belluci.jpg"></figure>
                              </div>
                              <h3 class="introduction_text">France</h3>
                              <p class="lorem_text">Deva Cassel</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
               <i class="fa fa-angle-left"></i>
               </a>
               <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
               <i class="fa fa-angle-right"></i>
               </a>
            </div>
            <div class="seemore_bt"><a href="#">See More</a></div>
         </div>
      </div>
      <!-- models section end -->
      <!-- footer section start -->
      <div class="footer_section layout_padding margin_top90">
         <div class="container">
            <div class="footer_main">
               <div class="location_text">
                  <ul>
                     <li>
                        <a href="#">
                        <img src="images/map-icon.png"><span class="padding_left_10">Address : Loram Ipusm</span>
                        </a>
                     </li>
                     <li>
                        <a href="#">
                        <img src="images/call-icon.png"><span class="padding_left_10">Call : +01 1234567890</span>
                        </a>
                     </li>
                     <li>
                        <a href="#">
                        <img src="images/mail-icon.png"><span class="padding_left_10">Email : demo@gmail.com</span>
                        </a>
                     </li>
                  </ul>
               </div>
               
            </div>
         </div>
      </div>
      <!-- footer section end -->
      <!-- copyright section start -->
      <div class="copyright_section">
         <div class="container">
            </div></p>
         </div>
      </div>
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript --> 
      <script src="js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>  
      <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
   </body>
</html>